<div class="form-signin">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 
  <h2 class="form-signin-heading">Edit Account Information</h2>
 
  <%= devise_error_messages! %>

    <%= f.label :email, :class => 'sr-only' %>
    <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email' %>
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


    <%= f.label :password, :class => 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", :help => "leave blank if you don't want to change it", :class => 'form-control', :placeholder => 'New Password' %>
  

 
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Retype Password' %>
 

 
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', :placeholder => 'Current Password' %>
 
    <%= f.submit "Update", :class =>'btn btn-lg btn-primary btn-block' %>
  
<% end %>
<hr>
<%= link_to "Back", :back, :class =>'btn btn-lg btn-default btn-block' %>

</div>
