<div class="form-signin">
<%= form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
  <h2 class="form-signin-heading">CMS Admin</h2>
    <%= f.label :email, :class => 'sr-only' %>
    <%= f.email_field :email, autofocus: true, :class => 'form-control', 
        :placeholder => 'Email: admin@railsdemocms.com' %>
    <%= f.label :password, :class => 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control', 
        :placeholder => 'Password: simple_password' %>
 
  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
      <%= f.check_box :remember_me %> Remember me
      </label>
    </div>
  <% end %>

  <%= f.submit "Sign in", :class =>'btn btn-lg btn-primary btn-block' %>
 
<% end %>
</div>

